p{
    color: blueviolet;
    font-size: 18px;
}
h1{
    color: pink;
    font-size: 50px;
    text-align: center;
}
body{
    background-color:black;
    font-family: Arial, Helvetica, sans-serif;
}
div{
    background-color: aquamarine;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;

}
.info {
    color: orchid;
}
#varování{
    color: pink;
}