body {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.wrap{
    padding: 16px;
}
h2{
    background: red;
}
a {
    ba
}

.d1, .a1 {
    border: 2px solid black;
    margin: 12px;
    padding:10xp;
    background: pink
}

