.body {
    margin: 0;
    padding: 0;
}
.wrap {
    margin: 16px;
}
.box{
    height: 50px;
    background-color: green;
    margin-bottom: 20px;
    display: grid;
    place-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
h4 {
    font-family: Arial, Helvetica, sans-serif;
}